body { /* Google Fonts + Fondo animado = Wow no sabia que un sitio estatico podia quedar así :'D */
    background-image: url(recursoscool/estrellitas.gif);
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    font-family: 'Jersey 15';
    font-size: 48px;
    background-color: blueviolet;
    color: cyan;
    padding: 5px;
}

* {
  box-sizing: border-box;
}

.container { /* AGUANTE FLEXBOX!!!1! */
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
}


.column { /* Crea las columnas (bah en realidad lo deje como una fila para mas placer pero bueno lo hice asi jajajaj) */
  flex: 12%;
  max-width: 25%;
  padding: 0 1px;
}

.column img { /* Borde para que los ojos no ardan... */
    border: 2px solid #ddd;
  margin-top: 8px;
  vertical-align: middle;
}

img:hover { /* EFECTO COOOOL :D */
      transform: scale(1.1);
}